<div>
    <div>
        <p class="sub-header">{{i18n.message.title}}</p>
        <p class="text-content">{{message.title}}</p>
    </div>

    <div>
        <p class="sub-header">{{i18n.message.rank}}</p>
        <p class="text-content">{{message.rank}}</p>
    </div>
    
    <div>
        <p class="sub-header">{{i18n.message.source}}</p>
        <p class="text-content">{{message.source}}</p>
    </div>
    
    <div>
        <p class="sub-header">{{i18n.message.content}}</p>
        <p class="text-content">{{message.content}}</p>
    </div>
</div>